name: build scan push

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: fix name
        id: lowercaserepo
        run: echo "repo=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          
      - name: build
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          push: false
          tags: ghcr.io/${{ steps.lowercaserepo.outputs.repo }}:latest

      - name: scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ghcr.io/${{ steps.lowercaserepo.outputs.repo }}:latest'
          format: 'table'
          exit-code: '0'
          
      - name: push
        run: docker push ghcr.io/${{ steps.lowercaserepo.outputs.repo }}:latest
